<div class="title">
    <div class="content">
        
            
        
            <h1>Film, Serie TV e altro.</h1>
            <h2>Recensisci i tuoi titoli preferiti.</h2>
            <br>
            <br>



             


            
            
        
    </div>
</div>






 <div class="wrapper">
    <section id="section1">
        <a href="#section3" class="arrow__btn">‹</a>

        
        <div class="item">
             <a href="/movies/65e0a253c8767ac5d2148b66" class="movie__btn">
                <img src="/images/film/american.jpg">
            </a>
        </div>
        <div class="item">
            <a href="/movies/65e0a253c8767ac5d2148b67" class="movie__btn">
                <img src="/images/film/batman.jpeg">
            </a>
        </div>
        <div class="item">
               <a href="/movies/65e0a253c8767ac5d2148b68" class="movie__btn">
                <img src="/images/film/fanta4.webp">
            </a>
        </div>
        <div class="item">
             <a href="/movies/65e0a253c8767ac5d2148b69" class="movie__btn">
                <img src="/images/film/fast1.jpeg">
            </a>
        </div>
        <div class="item">
              <a href="/movies/65e0a253c8767ac5d2148b6a" class="movie__btn">
                <img src="/images/film/fast2.webp">
            </a>
        </div>
        
        
        <a href="#section2" class="arrow__btn">›</a>
    </section>
    <section id="section2">
        <a href="#section1" class="arrow__btn">‹</a>

        
        <div class="item">
             <a href="/movies/65e0a253c8767ac5d2148b6b" class="movie__btn">
                <img src="/images/film/fast3.jpg">
            </a>
        </div>
        <div class="item">
            <a href="/movies/65e0a253c8767ac5d2148b6c" class="movie__btn">
                <img src="/images/film/fast4.jpg">
            </a>
        </div>
        <div class="item">
               <a href="/movies/65e0a253c8767ac5d2148b6d" class="movie__btn">
                <img src="/images/film/fast5.webp">
            </a>
        </div>
        <div class="item">
             <a href="/movies/65e0a253c8767ac5d2148b6e" class="movie__btn">
                <img src="/images/film/fast6.jpg">
            </a>
        </div>
        <div class="item">
              <a href="/movies/65e0a253c8767ac5d2148b6f" class="movie__btn">
                <img src="/images/film/fast7.jpg">
            </a>
        </div>
        
        
        <a href="#section3" class="arrow__btn">›</a>
    </section>
    <section id="section3">
        <a href="#section2" class="arrow__btn">‹</a>

        
        <div class="item">
             <a href="/movies/65e0a253c8767ac5d2148b70" class="movie__btn">
                <img src="/images/film/fast8.webp">
            </a>
        </div>
        <div class="item">
            <a href="/movies/65e0a253c8767ac5d2148b71" class="movie__btn">
                <img src="/images/film/fast9.jpeg">
            </a>
        </div>
        <div class="item">
               <a href="/movies/65e0a253c8767ac5d2148b72" class="movie__btn">
                <img src="/images/film/flash.jpeg">
            </a>
        </div>
        <div class="item">
             <a href="/movies/65e0a253c8767ac5d2148b73" class="movie__btn">
                <img src="/images/film/simpson.jpeg">
            </a>
        </div>
        <div class="item">
              <a href="/movies/65e0a253c8767ac5d2148b74" class="movie__btn">
                <img src="/images/film/sonic.jpeg">
            </a>
        </div>
        
        
        <a href="#section1" class="arrow__btn">›</a>
    </section>
</div> 

